*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: gainsboro;    
}
.registerBox{
    margin-left: 450px;
    margin-right: 450px;
    padding: 15px;
    margin-top: 100px;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    border: 2px none white;
    border-radius: 5px;
    box-shadow: 2px 3px 5px gray;
    background-color: white;
    color:darkslategrey;
    width: 30%;
    height: 600px;
    text-shadow: 0px 0px 0.5px grey;
    background-image: url("https://images.unsplash.com/photo-1731596691311-5955c052b66e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGhpbmclMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww");

}
.images{
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 10px;
}
.name{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

