*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: gainsboro;
}
.registerBox{
    margin: 450px;
    padding: 15px;
    margin-top: 100px;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 2px 3px 5px gray;
    background-color: white;
    color:darkslategrey;
    width: 30%;
    height: 400px;
    text-shadow: 0px 0px 0.5px grey;
}
.images{
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 10px;
}
.passwordBox{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0px;    
}
